@use '../variables' as *;
@use '../remUtils' as *;

.root {
  display: inline-flex;
  align-items: center;
  padding: p(3, 8);
  font-size: rem(12);
  font-weight: 500;
  border-radius: br(4);
  line-height: 1.2;
}

.default {
  background-color: $color-background;
  color: $color-text;
}

.success {
  background-color: #dcfce7;
  color: #166534;
}

.warning {
  background-color: #fef3c7;
  color: #92400e;
}

.error {
  background-color: #fee2e2;
  color: #991b1b;
}
