@use '../variables' as *;
@use '../remUtils' as *;

.wrapper {
  position: relative;
  display: inline-flex;
}

.trigger {
  cursor: default;
}

.tooltip {
  position: absolute;
  z-index: 1100;
  padding: p(6, 12);
  font-size: rem(13);
  color: #fff;
  background-color: $color-text;
  border-radius: br(4);
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s, visibility 0.15s;
  pointer-events: none;

  .wrapper:hover &,
  .wrapper:focus-within & {
    opacity: 1;
    visibility: visible;
  }
}

.top {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, rem(-8));

  .wrapper:hover &,
  .wrapper:focus-within & {
    transform: translate(-50%, rem(-8));
  }
}

.bottom {
  top: 100%;
  left: 50%;
  transform: translate(-50%, rem(8));

  .wrapper:hover &,
  .wrapper:focus-within & {
    transform: translate(-50%, rem(8));
  }
}

.left {
  right: 100%;
  top: 50%;
  transform: translate(rem(-8), -50%);

  .wrapper:hover &,
  .wrapper:focus-within & {
    transform: translate(rem(-8), -50%);
  }
}

.right {
  left: 100%;
  top: 50%;
  transform: translate(rem(8), -50%);

  .wrapper:hover &,
  .wrapper:focus-within & {
    transform: translate(rem(8), -50%);
  }
}
