@use '../variables' as *;
@use '../remUtils' as *;

.root {
  background: $color-surface;
  border: 1px solid $color-border;
  border-radius: br(8);
  box-shadow: 0 rem(1) rem(3) 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.header {
  padding: p(16, 20);
  border-bottom: 1px solid $color-border;
}

.title {
  margin: 0;
  font-size: rem(16);
  font-weight: 600;
  color: $color-text;
}

.body {
  padding: p(20);
}
