@use 'sass:color';
@use '../variables' as *;
@use '../remUtils' as *;

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
  font-family: inherit;
  font-weight: 500;
  border-radius: br(6);
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.sm {
  padding: p(6, 12);
  font-size: rem(14);
}

.md {
  padding: p(8, 16);
  font-size: rem(16);
}

.lg {
  padding: p(10, 20);
  font-size: rem(18);
}

.primary {
  background-color: $color-primary;
  color: #fff;
  border-color: $color-primary;

  &:hover:not(:disabled) {
    background-color: color.scale($color-primary, $lightness: -12%);
    border-color: color.scale($color-primary, $lightness: -12%);
  }
}

.secondary {
  background-color: $color-secondary;
  color: #fff;
  border-color: $color-secondary;

  &:hover:not(:disabled) {
    background-color: color.scale($color-secondary, $lightness: -12%);
    border-color: color.scale($color-secondary, $lightness: -12%);
  }
}

.outline {
  background-color: transparent;
  color: $color-primary;
  border-color: $color-primary;

  &:hover:not(:disabled) {
    background-color: rgba($color-primary, 0.08);
  }
}

.ghost {
  background-color: transparent;
  color: $color-text;

  &:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.06);
  }
}

.fullWidth {
  width: 100%;
}
