@use '../variables' as *;
@use '../remUtils' as *;

.wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: rem(4);
}

.wrapperFullWidth {
  width: 100%;
}

.label {
  font-size: rem(14);
  font-weight: 500;
  color: $color-text;
}

.input {
  font-family: inherit;
  font-size: rem(16);
  padding: p(8, 12);
  border: 1px solid $color-border;
  border-radius: br(8);
  color: $color-text;
  background-color: $color-surface;
  transition: border-color 0.2s, box-shadow 0.2s;

  &::placeholder {
    color: $color-text-secondary;
  }

  &:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 rem(3) rgba($color-primary, 0.2);
  }

  &:disabled {
    background-color: $color-background;
    cursor: not-allowed;
    opacity: 0.8;
  }
}

.inputError {
  border-color: #dc2626;

  &:focus {
    border-color: #dc2626;
    box-shadow: 0 0 0 rem(3) rgba(220, 38, 38, 0.15);
  }
}

.errorText {
  font-size: rem(13);
  color: #dc2626;
}
